body{
	background-image: url(../image/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

div.main {
	width: 770px;
	margin: auto;
	height: 780px;
	border: 3px solid #08080857;
	border-radius: 10px;
	background-color: #00000040;
	color: white;
}

div.header {
	width: 98%;
	margin: auto;
	background-color:  #00000040;
	border-radius: 10px;
	border: 2px solid #08080857;
	color: Red;
	font-family: Baskerville Old Face;
	font-size: 60px;
	height: 70px;
	font-family: Calisto MT;
}

div.middle {
	width: 330px;
	 float: left;
	 text-align: left;
	 margin-left: 10px;
	 overflow: hidden;
}

div.input {
	text-align: left;
	float: left;
	margin-left: 10px;

}

div#middle {
	border: 2px solid #08080857;
	width: 98%;
	height: 568px;
	background-color: #00000040;
	border-radius: 10px;
}

div.foter {
	border: 2px solid #08080857;
	margin-top: 18px;
	padding: 3px;
	text-align: center;
	font-family: Baskerville Old Face;
	background-color:#00000040 ;
	border-radius: 10px;
	width: 98%;
	height: 43px;
	font-size: 30px;
		}